@import url("https://fonts.googleapis.com/css2?family=Lexend+Giga&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,300&display=swap");

:root {
  --font-primary: "Lexend Giga", sans-serif;
  --font-secondary: "Montserrat", sans-serif;
  --lg-lightcolor: linear-gradient(
    to left,
    rgba(116, 235, 213, 0.8),
    rgba(159, 172, 230, 0.2)
  );
  --lg-color: linear-gradient(to left, #aed8d1, #5766a9);
  --c-success: rgb(24, 196, 24);
  --c-error: rgb(251, 6, 6);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: var(--lg-lightcolor), url("./bg.jpg");
  background-size: cover; /*100%*/
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 40px;
  font-family: var(--font-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: calc(100vw - 20vw);
  max-width: 500px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.34),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048);
  overflow: hidden;
}

.header {
  background-image: var(--lg-color);
  padding: 30px 0;
  text-align: center;
}

.header h2 {
  color: #222;
  font-family: var(--font-secondary);
  font-size: 1.6rem;
  text-transform: uppercase;
}

.form {
  padding: 2em;
  font-size: 1rem;
}

.form-control {
  margin-bottom: 10px;
  position: relative; /* important for show error or success icons */
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input {
  display: block;
  width: 100%;
  padding: 10px;
  border: 2px solid #f0f0f0;
  border-radius: 5px;
  font-family: var(--font-secondary);
  font-size: 14px;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

/* INPUTS SUCCESS ERROR CLASSES */
.form-control.success input {
  border-color: var(--c-success);
}
.form-control.error input {
  border-color: var(--c-error);
}

/* ICONS */
.form-control i {
  position: absolute;
  right: 12px;
  top: 38px;
  visibility: hidden;
}

/* ICONS SUCCESS ERROR CLASSES */
.form-control.success i.fa-check-circle {
  color: var(--c-success);
  visibility: visible;
}
.form-control.error i.fa-exclamation-circle {
  color: var(--c-error);
  visibility: visible;
}

/* ERROR MESSAGE */
.form-control small {
  color: var(--c-error);
  font-size: 0.7rem;
  visibility: hidden;
}
.form-control.error small {
  visibility: visible;
}

/*************************************************/
/* FORM BUTTON */
.form .btn {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 2em;
  background-image: var(--lg-color);
  border-radius: 6px;
  border: none;
  cursor: pointer;
  color: #fff;
  outline: none;
  font-family: var(--font-secondary);
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}

.form .btn:hover {
  background-image: linear-gradient(to right, #aed8d1, #5766a9);
}

/************************************************************/
/* MEDIA QUERIES */
@media (max-width: 500px) {
  .container {
    width: calc(100vw - 10vw);
    max-width: 100%;
  }

  .header {
    padding: 18px 0;
  }

  .header h2 {
    font-size: 1.4rem;
  }

  .form {
    padding: 1.3em;
    font-size: 0.8rem;
  }

  .form .btn {
    font-size: 0.8rem;
  }
}
